#thumbnails{
    display: flex inline-block;
    float: left;
    list-style: none;
}

#thumbnails > li > img{
    max-width: 80px;
    max-height: 80px;
    margin: 0px 8px 10px;
}

#big_image > img{
    width: 400px;
    height: 400px;
    display: flex inline-block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#detail_h1{
    margin: 30px 40px;
    color: #301a57;
    font-size: 30pt;
    text-decoration: underline overline;
}
.product_desc{
    color: #301a57;
    font-size: 12pt;
    margin-left: 10px;
    display: flex inline-block;
    /* float: left; */
}

.product_price{
    color: #301a57;
    font-size: 14pt;
    font-weight: bold;
    /* margin-left: 10px; */
    padding: 2px;
    display: flex inline-block;
    border: 2px solid #301a57;
    border-radius: 2px;
    float: left;
}

.buy_product{
    /* display: flex inline-block;
    float: right; */
    text-align: right;
    color: #301a57;
    font-size: 16pt;
    /* margin-top: 60px; */
}

#id_quantity{
    width: 110px;
    display: flex;
    float: right;
    color: #301a57;
    font-weight: bold;
    /* text-align: right; */
    /* margin-left: 10px; */
    /* margin-right: 25px; */
}

#quantity_input{
    width: 100px;
    /* text-align: right; */
    margin-left: 10px;
    margin-right: 25px;
}

#buy_button{
    width: 80px;
    display: inline-block;
}
