
#previous_page{
    margin-right: 5px;
    cursor: pointer;
}

.product_h1{
    margin-left: 25px;
    color: #301a57;
    font-size: 30pt;
    text-decoration: underline overline;
}

#next_page{
    margin-left: 5px;
    cursor: pointer;
    margin-right: 25px;
}

#paginator{
    color: #301a57;
    font-size: 18pt;
    font-weight: bold;
}



#left_content{
    /* background-color: #e9e9e9 ; */
    height: 100%;
    padding: 5px;
    /* border-left: 1px solid black */
}

/* #middle_content{
    background-color: #301a57;
    height: 100%;
    border-left: 1px solid black;
} */

#products{
    border-style: outset;
    background-color:#efefef;
    margin: 25px 25px 10px;
    padding: 20px;
}
