<%inherit file="app_base.htm" />

<%block name="middle_content">
    <h1 id="cart_h1">Cart</h1>

    <table class="table table-responsive table-hover">
        <thead class="table_head">
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody class="table_body">
            % for c in cart_items:
                <tr>
                    <td><a href="/catalog/detail/${ c.product.id }">${ c.description }</a></td>
                    <td>$${ c.price }</td>
                    <td>${ c.quantity }</td>
                    <td>$${ c.extended }</td>
                    %if c.product.__class__.__name__ == 'BulkProduct':
                        <td><a href="/catalog/detail/${ c.product.id }">Add More</a>&nbsp;|&nbsp;<a href="/catalog/delete_cart_item/${ c.id }">Remove</a></td>
                    %else:
                        <td><a href="/catalog/delete_cart_item/${ c.id }">Remove</a></td>
                    %endif
                </tr>
            % endfor

            <tr>
                <td>${ tax_item.description  }</td>
                <td></td>
                <td></td>
                <td>$${ tax_item.price }</td>

            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>$${cart.total_price}</td>

            </tr>
        </tbody>
    </table>

    <p class="checkout_button"><a class="btn btn-primary" href="/catalog/checkout/">Checkout Now</a></p>


</%block>
