<%inherit file="app_base.htm" />

<%block name="middle_content">
    <h1>this is the cart</h1>

    <table class="table table-responsive table-hover">
        <thead class="table_head">
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Extended</td>
            </tr>
        </thead>
        <tbody class="table_body">
            % for c in cart_items:
                <tr>
                    <td>${ c.description }</td>
                    <td>$${ c.price }</td>
                    <td>${ c.quantity }</td>
                    <td>$${ c.extended }</td>
                    <td><a href="/manager/edit_product/${ c.id }">Edit</a>&nbsp;|&nbsp;<a href="/catalog/delete_cart_item/${ c.id }">Remove</a></td>
                </tr>
            % endfor
            <tr>
                <td>${ tax_item.description  }</td>
                <td></td>
                <td></td>
                <td>$${ tax_item.price }</td>

            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>$${cart.total_price}</td>

            </tr>
        </tbody>
    </table>

    <p class="checkout_button"><a class="btn btn-primary" href="/catalog/checkout/">Checkout Now</a></p>


</%block>
