<%inherit file="app_base.htm" />
<%namespace name="fl" module="formlib.tags"/>

<%block name="middle_content">
    <h1 id="detail_h1">${ product.name | h }</h1>
    <div class="product_images">
        <ul id="thumbnails">
            % for i in product.image_urls():
                <li><img class="img-responsive img-thumbnail thumbnails_img" src="${ i }" alt="${ product.name | h}"></li>
            % endfor
        </ul>
        <div id="big_image">
            <img id='big_img' class="img-responsive img-thumbnail" src="${ product.image_url() }" alt="${ product.name | h} big image">
        </div>
    </div>
    <div class="product_desc">${ product.description }</div>
    ##<div class="product_price">Price: <span id="tot_prod_price">$${ product.price }</span></div>

    <div class="buy_product">
        <%doc>
            % if product.TITLE == 'Bulk':
                <label for="quantity_input">Quantity:</label>
                <input id="quantity_input" class="form-control" type="number" name="quantity" min="1" value="1">
            % endif
            <button id="buy_button" type="button" class="btn btn-primary">Buy</button>
        </%doc>

        <%fl:render form='${ add_to_cart_form }'>

            <p><button id="buy_button" type="submit" class="btn btn-primary">Buy</button></p>
        </%fl:render>
    </div>



</%block>
