<%inherit file="app_base.htm" />

<%block name="left_content">
    <ul id=category_list>
        <li><a class="${ 'selected' if category is None else 'not_selected'}" href='/catalog/index/'>All Products</a></li>
        % for c in categories:
            <li ><a class="${ 'selected' if category == c else 'not_selected'}" href='/catalog/index/${ c.id }'>${ c.name }</a></li>
        % endfor
    </ul>
</%block>



<%block name="middle_right_content">

    <h1>${ 'Products' if category is None else category.name }</h1>

    ## this still needs work
    <div id='paginator' class="text-right">
        <a id="previous_page"></a>Page of ${ pnum }<a id="next_page"></a>
    </div>



    <div id='products'>

    </div>

</%block>
