<%inherit file="app_base.htm" />

<%block name="top_content">

</%block>

<%block name="right_content">

</%block>

<%block name="middle_content">
    <h2>Our Vision</h2>
    <p>
        Our vision is for every student to reach his or her potential through the positive, life-changing power of making music.We believe in that vision so strongly that we devote all of our energy, passion and resources to serving and strengthening music education across Indiana.
    </p>
    <p>
        Our educational representatives travel to hundreds of Indiana schools each week to consult with band & orchestra teachers, deliver instruments & supplies, and pick-up repairs.
    </p>
    <p>
        Our in-house experts in brasswind, woodwind, percussion and orchestral stringed instruments will help you find the perfect product to help you perform your very best. When your instrument needs service, our team of professional repair technicians will help get your instrument in tip-top shape.
    </p>
    <h2>Company History</h2>
    <p>
        Family Oriented Music Organization was founded in 1871 and passed through four generations of Paige family ownership until 1999 when Mark Goff purchased the business from Warner Paige, III.
    </p>
    <p>
        The company was founded in Terre Haute, Indiana, by William H. Paige who was the first director of music for the public schools; a position he held for five years before opening his store in 1871. At the store's original location, William first sold sheet music, music books, pianos, organs, guitars, violins and "all kinds of musical merchandise."


    </p>
    <p>
        After William Harlan died in 1901, his sons, Frederick and Warner took over the business. Warner had been living in Bridgeport, Conn., where he worked in a music store and he then returned to Terre Haute to join his brother. Frederick died in 1932 after which Warner continued the business.
    </p>
    <p>
        Later, his son, Warner H. Paige, Jr., joined him in the store. Warner Jr. served in the Navy in World War II. Many years of struggle went on during that period of time. When he returned to the store, no new merchandise was available because of the war. He kept the doors of Family Oriented Music Organization open by purchasing "cut‑off" Meyer pianos made by Frank Wilking in Indianapolis and was able to buy the last shipment of band instruments from St. Louis Music.
    </p>
    <p>
        Warner H. Paige, III began working for his father as a teenager, selling the top hit records and pushing the broom. After finishing college (IU and ISU‑Business Major) he worked with his father, Warner, Jr. and began expanding the business into new markets.

        In 1973, Paige's opened a branch store in Terre Haute's first enclosed mall...Honey Creek Square. In 1976, Paige's expanded by opening a store in Indianapolis and then expanded again to Ft. Wayne in 1981.  The Indianapolis and Ft. Wayne stores were primarily service stores for school bands and orchestras making us the largest school service dealer in the state and one of the largest in the United States.
    </p>
    <p>
        After this period of rapid growth, Warner Paige, III decided to redirect the focus of the business exclusively on our strongest segment…the Indiana school music market. To achieve this goal, Warner made what many considered a bold move in 1989 by selling the Terre Haute and Fort Wayne stores to competitors, and consolidating all business operations in Indianapolis.
    </p>
    <p>
        Mark Goff joined the company as a sales associate in 1985 after graduating from Indiana Wesleyan University with a degree in Music Business. Mark worked his way up in the organization, holding positions of Sales Associate, Educational Representative, Instrument Sales Manager, General Manager, and President. In 1999 Mark purchased the business from Warner Paige, III and became the first “non-Paige family” owner.
    </p>
    <p>
        Following Warner’s example, Mark became actively involved in various music trade associations. Mark has served as President of NASMD (the National Association of School Music Dealers), President of NAYMM (the National Association of Young Music Merchants) and is the current Chairman of NAMM – the International Music Products Association.
    </p>
    <p>
        Under Mark’s leadership, the business expanded steadily by maintaining focus on the Indiana school music customer and pursuing opportunities as they came available. In 1997 Paige's acquired Progressive Music in Kokomo. In 2000 we acquired Kersey Music in Greencastle, and in 2003 Paige’s acquired Weast Music in Lafayette.
    </p>
    <p>
        In 2006 we opened Chops Percussion, a specialty business to serve the Indiana percussion community and Encore Orchestral Strings to serve the orchestral string community. In 2008 we opened Indy Flute Shop to serve the Indiana flute community.
    </p>
    <p>
        Today, Family Oriented Music Organization is one of the most respected retailers in the music products industry. Our unwavering focus on helping Indiana students discover the joy of making music has stood the test of time, and remains the key to our success in the future.
    </p>
</%block>

<%block name="left_content">

</%block>
