## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <title>FOMO</title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        ##bootstrap links
        <script src="${ STATIC_URL }homepage/media/bootstrap3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap3/css/bootstrap-theme.min.css" />

        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }

        <link rel="icon" href="${ STATIC_URL }homepage/media/images/music_icon.png" type="image/png"/>

    </head>
    <body>
        <a id="skip_to_main" href="#middle_content">Skip To Main Content</a>
        <header>
            <div class="maintenance_header">
                <p class="maintenance_p">Please be advised that the site may be slow due to heavy traffic!</p>
            </div>
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><img class="navbar-left img-responsive image  icon_image" src="${STATIC_URL}homepage/media/images/music_icon.png" alt="FOMO" /> Family Oriented Music Organization</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <%block name="navbar_links"></%block>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <%block name='navbar_right_links'></%block>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </header>

        <main>
            <div class="container-fluid">
                <%block name="jumbo">

                </%block>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div id="top_content">
                            <%block name="top_content">

                            </%block>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div id="left_content">
                                <%block name="left_content">

                                </%block>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div id="middle_content">
                                <%block name="middle_content">

                                </%block>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div id="right_content">
                                <%block name="right_content">

                                </%block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </main>




        <footer>
            <div class="bottom_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <%block name="bodyfooter">
                                <%! from datetime import datetime %>
                                &copy; Copyright ${ datetime.now().year}. All rights reserved
                            </%block>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
