<%inherit file="app_base.htm" />

<%block name="middle_content">
    <h1>Frequently asked question</h1>

    <h3>
        When will I receive my order?
    </h3>
    <p>
        n stock,  non-pre-order items shipping to addresses within the United States are sent by UPS or US Mail (USPS) depending on weight and usually take 7-10 business day to arrive. APO addresses have an average transit time of 10-21 days. International shipments including Canada and Mexico are made via international post (mail) and take up to 21 business days to arrive. International shipments may be held by your local Customs Authority for an additional 10-14 days depending on the customs laws in your country. Therefore, it is best to allow 4-6 weeks for delivery.
    </p>
    <p>
        Orders received over the weekend and on holidays will be processed the following business day. In most cases, your credit card will not be charged until the product is shipped. We will notify you if any item cannot be shipped within 30 days and you will be given the option to cancel your order.
    </p>
    <h3>
        How do I contact customer service?
    </h3>
    <p>
        You can contact us at the “Contact” page. Unfortunately we are unable to assist via phone.
    </p>
    <h3>
        How to Change or Cancel Your Order?
    </h3>
    <p>
        We process orders very quickly, if you find that you need an address correction or wish to cancel, please notify us immediately by contacting Customer Service. If your order has not yet been processed, we may be able to correct or cancel.  Please note, we will not be able to add any additional items or edit orders for size once it has been submitted.
    </p>
</%block>
